* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {

    width: 100%;
    font-family: none;
}




.inicio-1 {
    background-color: rgb(205, 147, 157);
    font-size: 20px;
    padding: 3rem;
    width: 100%;
    background-image: url("http://assets.stickpng.com/thumbs/58aeffeec869e092af51ee79.png");
    background-repeat: no-repeat;
}

.titulo-principal {
    font-size: 50px;
    text-align: center;
    color: #f5f9fc
}



.listado-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
    color: #f5f9fc;
    padding: 4rem;
    text-transform: uppercase;
}

.slogan {
    font-size: 25px;
    font-weight: 600;
    line-height: 3rem;
    color: #f5f9fc;

}

.inicio-2 {
    background-color: rgb(207, 188, 11);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    color: rgb(0, 6, 10);
    font-size: 20px;
    width: 100vw;
    text-align: left;
}

.position-fixed {
    background-color: #008000;
    color: #e7f3ea;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
}

.jam-whatsapp {
    font-size: 3rem;
    text-align: center;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;

}

.logo-header {
    margin-left: 1rem;
}

.encabezado {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    width: 100%;
}


.listado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2rem;
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;

}

.item {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}




footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    padding-left: 1rem;
    padding: top 0;
    padding-right: 2rem;
    color: #f5f9fc;
    font-size: 20px;
    width: 100%;
    height: 150px;
    padding-bottom: 1rem;
    background-color: rgb(18, 1, 1);
}



.redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 4rem;
    padding-top: 3rem;
    list-style: none;

}

.direcciones {
    padding-left: 2rem;
    color: #f5f9fc;
}

.lista-dire {
    list-style: none;

}

.ubicacion {
    text-align: center;
    color: #f5f9fc;
}

.fondo {
    background-color: rgb(205, 147, 157);
    background-image: url(../imagenes/coco.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}







.ofertas {
    text-align: center;
    color: #e7f3ea;


}

.tienda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-left: 3rem;

}

.descrip {
    padding-top: 2rem;
    text-align: left;
    padding-bottom: 1rem;
    font-size: 20px;
    color: black;

}

.monto {
    background-color: #020609;
    border-radius: 50px;
    color: #e7f3ea;
    width: 70px;
    background-size: 25%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.peluqueria {

    background-color: rgb(205, 147, 157);
}

.texto-1 {
    padding: 1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    line-height: 2rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.texto-2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 25px;
}

.video {
    padding-top: 2rem;
}

.formulario {
    background-color: #f5f9fc;
    padding: 12px;
    border-color: #000000;
    border-style: double;

}

.form-email {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mensaje {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}

.boton {
    margin-left: 12px;
    margin-bottom: 12px;
    background-color: #000000;
    color: #e7f3ea;

}


/*vista movil*/
@media (max-width:600px) {
    .encabezado {
        overflow: hidden;

    }

    .listado {
        font-size: 1rem;
        margin: 1rem;
        padding: 0%;

    }

    .listado-productos {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: baseline;
        justify-content: center;
        line-height: 1rem;
        padding: 2rem;
    }

    .inicio-1,
    .inicio-2 {
        width: 100%;
    }

    .imagenes,
    .video {
        width: 100%;
        object-fit: cover;
    }

    .img-logo {
        height: 50px;
        width: auto;
        background-position: left;

    }

    .titulo-principal {
        font-size: 30px;
    }

    .slogan {
        font-size: 20px;
    }

    .inicio-2 {
        flex-direction: column;
    }

    .presentacion {
        font-size: 20px;

    }

    .imagen-puppys {
        height: 200px;
        width: auto;
        padding-top: 2rem;
        padding-left: 1rem;
        background-position: center;
    }

    .position-fixed {
        border-radius: 2rem;
        width: 3rem;
        height: 2rem;

    }

    .jam-whatsapp {

        font-size: 2rem;
        padding-left: 10px;
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-right: 1rem;

    }

    footer {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        align-content: center;
        align-items: flex-start;

    }

    .footer-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .footer-logo img {
        height: 60px;
        width: 60px;
        background-position: left;
        border-radius: 50%;

    }

    .redes-sociales {
        padding: 0%;
        width: 100%;
    }

    .redes-sociales img {


        height: 20px;

        font-size: 10px;

    }

    .redes-items {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .mis-redes {
        font-size: 12px;
        text-align: right;
        padding: 5px;


    }

    .direcciones {

        display: flex;
        flex-direction: column;
        font-size: 10px;
        text-align: center;
        padding: 0%;
        padding-top: 10px;
        width: 100%;

    }

    .encabezado {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: end;
        align-content: center;
        align-items: flex-start;
    }

    .logo-header {
        height: 60px;
        width: 60px;
        background-position: center;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 0%;

    }

    .texto-1 {
        text-transform: none;

    }

    .descrip {
        font-size: 15px;

    }

    .formulario {
        background-color: #f5f9fc;
        padding: 12px;
        border-color: #000000;
        border-style: double;

    }

    .tienda {
        align-items: center;
    }

    .descrip {
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;

    }



}



/*vista tablet*/
@media (max-width:1023px) {
    .main {
        min-height: 0%;

    }
}